doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    title GetWell
    link(rel="stylesheet", href="css/bootstrap.css")
    link(rel="stylesheet", href="css/styles.less")
  body
    
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        a#brand.brand(href="#")
          h3 Get
            span.great Well
        h1#health-container
          span Health: 
            span#actual-health.great Great

    //
      .navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
          .container
            a.brand(href="#")
              h3 Get
                span.great Well
            .offset4
              h1#health Health: 
                span.great Great
    #container.container-fluid
      .row-fluid
        .span9
          #map-container
        .span3
          #list-container

      //
        |<script id="example-template" type="x-template">
        p Blah Blah Blah
        ul#list
          | [[ _.each(data.items, function(item) { ]]
          li {{ item.name }}
          | [[ }); ]]
        |</script>

      |<script id="map-template" type="x-template">
      #map.map
      |</script>

      |<script id="list-template" type="x-template">
      .tabbable
        ul.nav.nav-tabs
          li.active
            a(href="#offline-tab", data-toggle="tab") Offline 
              span#offline-count.badge.badge-important 2
          li
            a(href="#battery-tab", data-toggle="tab") Battery 
              span#battery-count.badge.badge-warning 5
          li
            a(href="#okay-tab", data-toggle="tab") Okay 
              span#okay-count.badge.badge-success 100
        .tab-content
          #offline-tab.tab-pane.active
            
          #battery-tab.tab-pane
            
          #okay-tab.tab-pane
            
      |</script>

      |<script id="offline-item-template" type="x-template">
      |<div id="{{ data.id }}">
      a.item
        h4
          span.name {{ data.name }}
      |</div>
      |</script>

      |<script id="battery-item-template" type="x-template">
      |<div id="{{ data.id }}">
      a.item
        h4
          span.battery {{ data.battery }}% 
          span.name {{ data.name }}
      |</div>
      |</script>

      |<script id="okay-item-template" type="x-template">
      |<div id="{{ data.id }}">
      a.item
        h4
          span.name {{ data.name }}
      |</div>
      |</script>

      |<script id="popup-template" type="x-template">
      .popup
        h4
          span.popup-name {{ data.name }}
        p
          span.popup-timestamp Last updated {{ data.timestamp }}.
        |{{ data.progressbar }}
        p Lat/Long: 
          span.popup-location {{ data.location.latitude }}, {{ data.location.longitude }}
      |</script>

    script(src="js/jquery-1.8.1.js")
    script(src="js/bootstrap.js")
    script(src="js/underscore.js")
    script(src="js/moment.js")
    script(src="js/parse-1.0.24.js")
    script(src="js/fridge.js")
    script(src="js/fridge_status.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgH22cSr2NBTDs1lIlKR8RQsTX_qimclU&sensor=false")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
    script(src="https://www.google.com/jsapi")
    script(src="js/map.js")
    script(src="js/mapview.js")
    script(src="js/listview.js")
    script(src="js/healthview.js")
    script(src="js/main.js")
