@width: 1024px;
@height: 550px;

@greatcolor: #468847;
@sosocolor: #c09853;
@badcolor: #b94a48;

body {
    padding-top: 100px;
    background-color: #222;
}

#map-container {
    height: @height;
}

#list-container {
    width:100%;
    height: @height;
}

#map {
    width: 100%;
    height: 100%;
}

#health {
    padding-top:10px;
}

.great {
    color: @greatcolor;
}

.soso {
    color: @sosocolor;
}

.bad {
    color: @badcolor;
}

#map img {
    max-width: none;
}
