@width: 1024px;
@height: 550px;

@greatcolor: #468847;
@sosocolor: #c09853;
@badcolor: #b94a48;

body {
    padding-top: 100px;
    background-color: #222;
    color:#ccc;
}

#map-container {
    height: @height;
}

#list-container {
    width:100%;
    height: @height;
    overflow-y:auto;
}

div.map {
    height:100%;
    width:100%;
}

a#brand {
    padding-left:100px;
}

#health-container {
    padding:10px;
}

#health-container > span {
    border-left:1px solid #ccc;
    padding-left:10px;
}

.great {
    color: @greatcolor;
}

.soso {
    color: @sosocolor;
}

.bad {
    color: @badcolor;
}

#map img {
    max-width: none;
}

a.item:hover {
    text-decoration:none;
    cursor:pointer;
}

span.battery {
    color:#ccc;
}

span.popup-name {
    color:#333;
}

span.popup-timestamp {
    color:#333;
}

span.popup-location {
    color:#999;
}